<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>Microposts list:</p>
<ul>
	<% @user.microposts.each do |micropost|%>
	<li><%= micropost.message%></li>
	<%end%>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
