<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>


  <div class="field">
    <% options = options_from_collection_for_select(User.all,:id,:name,micropost.user_id)%>
    <%= form.select :user_id,options%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
